<ion-view view-title="CDC Zika awareness">
  <ion-content class="padding">
    <h2>Informatics Innovation Unit</h2>
    <h3>Using Technology to Improve Public Health</h3>
    <p>The Centers for Disease Control and Prevention (CDC)’s Informatics Innovation Unit (IIU) advances the field of public health informatics through applied research and innovation.</p>
    <p>IIU 
 studies, prototypes, and tests new and innovative technology-based tools and resources to maximize their effect on public health. IIU’s resources are available to both CDC and its partners in the public health community. 
    </p>
  </ion-content>
</ion-view>
